
.formularioContacto{
    margin-left: 20px;
}

.tituloFormulario{
    margin-bottom: 30px;
}

fieldset{
    border-color:#cc8f94;
    background-color:#efd7d7;
}

legend{
    color: white;
    background-color:#bba780;
}

.boton{
    margin-bottom: 60px;
}